@import "~antd/dist/antd.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap');


* {
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to right, #0e0b16 0%, #25107c 100%);
    font-weight: 100;
}

main {
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Raleway', sans-serif;
}



.card {
    margin: 30px;
    background-color: transparent;
    border-color: #441269;
    border-radius: 30px 30px 30px 30px;
    border: none;
    box-shadow: 0px 0px 30px 4px #25107c;
}

.card:hover {
    border: 4px;
    border-color: #441269;
    box-shadow: 0px 0px 30px 0.5px #E7DFDD;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
}


.card-body {
  background-color: transparent;
}

.card-text {
  color: #E7DFDD;
  font-weight: 400;
}

.navbar {
    background-color: transparent;
    
}

.form-control {
    background-color: transparent;
    color: #E7DFDD;
    /* box-shadow: 0px 0px 10px 1px #b3adbb inset; */
    outline: none;
    border: none;
    border-bottom:1px solid #E7DFDD;
}

.form-control:focus {
    background: linear-gradient(to right, #0e0b16 0%, #564a88 100%);
    color: #E7DFDD;
    font-weight: bolder;
    border: none;
    outline: none;
    box-shadow: none;
}

.form-control:active {
    background: linear-gradient(to right, #0e0b16 0%, #564a88 100%);
}

.btn {
    outline: none;
    border: none;
  color: #E7DFDD;
  border-color: #f3f0f6;
}

.btn:hover {
  background-color: #000000;
  border: 1.5px solid white,
}

.wrap-form {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faHeart {
    height: 1.5em;
    width: 1.5em;
}

.faHeart:hover {
    color: #E7DFDD;
}

.form-label {
    color: #E7DFDD;
}

.movie-unique {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-auth {
    height: 100%;
}

.user-auth-title {
    font-weight: 400;
    color: #E7DFDD;
    font-size: 3em;
    font-weight: 600;
    text-align: end;
    margin-bottom: 1em;
}

.btn-auth {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.5em;
    width: 100%;
}


.btn-auth:hover {
    background-color: #E7DFDD;
    border-radius: 10px;
    font-weight: 400;
    width: 100%;
}


